footer {
    background-color: #25a2c3;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0px;
    margin-bottom: 20px;
}

footer a:visited {
    color: white;
}

footer h2 {
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 25px;
}

footer p {
    padding-bottom: 20px;
}

footer div p {
    border-top: 2px solid white;
    padding-top: 20px;
}